@import "px2rem";

.icon {
  display: inline-block;
  vertical-align: text-bottom;
  .px2rem(width, 18);
  .px2rem(height, 18);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.icon-clock {
  background-image: url("../img/clock.png");
}

.icon-location {
  background-image: url("../img/location.png");
}